<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>        
        <rewrite>
            <rules>
                <!-- Html Help Builder routing -->
                <rule name="Extract Topic ID" stopProcessing="true">
                    <match url="(_.*).html?$" />           
                    <action type="Redirect" url="https://{HTTP_HOST}/docs/?topic={R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

